{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>About the Air Quality Data Viewer</h1>
    <p>
        The Air Quality Data Viewer is an essential tool for understanding air pollution and its impact on health. Here's what you need to know:
    </p>
    <ul>
        <li><strong>Air Pollution Risk:</strong> Air pollution is now the world’s fourth-largest risk factor for early death. In 2019, 4.5 million deaths were linked to outdoor air pollution exposures, and another 2.2 million deaths were caused by indoor air pollution.</li>
        <li><strong>Particulate Matter (PM2.5):</strong> PM2.5 is the most dangerous pollutant. It can penetrate deep into the lungs and cause various health issues, including ischemic heart disease, lung cancer, chronic obstructive pulmonary disease (COPD), lower-respiratory infections (such as pneumonia), stroke, type 2 diabetes, and adverse birth outcomes.</li>
        <li><strong>Precautions:</strong> To reduce pollution exposure, consider the following:</li>
    </ul>
    <ul>
        <li>Avoid strenuous physical activity outside when the air quality is bad.</li>
        <li>Check our air quality map to know when air pollution outside is unsafe.</li>
        <li>Wear a pollution mask if you’re going to be outside exercising in polluted air.</li>
        <li>Plant trees and advocate for more greenery in public spaces.</li>
        <li>Drive less and demand better public transit options, safe bike lanes, and shaded sidewalks.</li>
    </ul>
</div>

{% endblock %}
